:root {
    --font-main : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-acc-1 :'VT323', monospace;
    --font-acc-2 : 'Inspiration', cursive;

    --poke_red :#FE1322;
    --poke_red_flu :rgba(254, 19, 34,0.3);
    --poke_yellow : #FECC00;
    --poke_yellow_flu : rgba(254, 204, 0, 0.3);
    --poke_white : #ECF5F8;
    --accent-clr : rgb(74, 74, 240);
}